venv
.vscode
proj/.vscode
proj/proj/__pycache__
proj/db.sqlite3

__pycache__ /

# Distribuição / embalagem
.Python

# Coisas do Django:
* .log
local_settings.py
db.sqlite3

# Ambientes
.banana
.env
.venv
env /
venv /
ENV /
env/
env
venv

documentação do # mkdocs
/ site

# mypy
.mypy_cache /

# Ide
.vscode
.idéia